extends ../pug/layout.pug

block variables
- var title = "Hello, Webpack!"

block content
    h1 Hello, Webpack!
    p Enim est ullamco do incididunt sunt elit nulla consectetur.
    p Veniam aute pariatur proident excepteur tempor consequat eiusmod culpa velit ea labore ipsum. Qui consectetur reprehenderit reprehenderit aute commodo. Labore id voluptate elit qui nisi et deserunt aliquip. Fugiat duis Lorem velit dolore do cillum labore.
    p Exercitation ut magna dolor officia velit aliqua minim aute sunt. Deserunt tempor irure nostrud qui ad magna consectetur dolore. Fugiat duis duis qui exercitation. Eu officia est ex fugiat consectetur enim exercitation.
