extends ../../pug/layout.pug

block variables
    - var title = "Hello, Webpack!"

block content
    h1 It is INDEX PAGE
    p Ut dolor labore eu anim enim elit quis eu id. Culpa in sint qui proident. Tempor enim ullamco laborum deserunt nostrud voluptate Lorem ut. Elit ut nisi deserunt sint elit nisi nulla consequat minim Lorem culpa elit sint. Voluptate commodo adipisicing Lorem consequat cupidatat. Consectetur aliqua aliquip non laborum. In do laborum dolor ut laborum elit amet est ex.
    p Ex pariatur enim do eiusmod cupidatat sunt ad anim voluptate veniam laborum in aute irure.
    p Quis ullamco ad minim irure do excepteur. Voluptate pariatur exercitation ullamco ex aliquip. Est exercitation laboris irure esse culpa sunt veniam et est. Officia enim laborum culpa irure et veniam consectetur excepteur nostrud dolor Lorem ad. Eiusmod et in minim dolore laborum culpa in. Eiusmod id eu Lorem fugiat aliquip eiusmod Lorem ex anim dolore magna reprehenderit in.
    img(src=("../../img/sample.jpg"))