extends ../../pug/layout.pug

block variables
    - var title = "First Page"

block content
    h1 It is page #1
    p Ullamco incididunt exercitation et magna do laborum do non aliqua amet culpa Lorem excepteur dolore. In sint non minim exercitation in ullamco. Nisi magna laborum id do dolor sit tempor.