extends ../../pug/layout.pug

block variables
    - var title = "First Page"

block content
    h1 Page 2
    p Reprehenderit proident nulla esse laboris. Minim laborum sit dolore eiusmod in ea pariatur. Sit aute velit ipsum fugiat incididunt tempor ullamco veniam pariatur occaecat aliquip exercitation exercitation. Sunt commodo voluptate tempor aute duis occaecat ut velit excepteur esse quis tempor incididunt in.